* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid red;
}

body {
  background-color: darkslateblue;
}

.container {
  margin: 80px 40px;
}

.pricing {
  background-color: #f4f4f4;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.card h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.card-free h2 {
  background-color: lightcyan;
}

.card-pro h2 {
  background-color: lightskyblue;
  color: white;
}

.card-enterprise h2 {
  background-color: lightsalmon;
  color: white;
}

.price {
  font-weight: bold;
  font-size: 20px;
}

.price-info {
  text-transform: uppercase;
}